footer{
   li{ 
       list-style: none; 
    }
   background-size: cover;    
   background-color:#ac0505
}
#CuerpoFooter{
    background-color: rgb(246, 248, 250);
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    text-align: center;
    align-items: center;   
    font-style:normal;
}
#contenedorLogo{
    justify-content: center;
    align-items: center;
    text-align: center;
    background-size:cover;
}   
#logo{
    width: 50%;
    height: auto;
}
a{
    color: #00aced;
}
#copyrightFooter{
    color: rgb(210, 217, 224);
}
.wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
.wrapper ul{
    list-style: none;
}
.wrapper ul li {
    width: 60px;
    height: 60px;
    line-height: 5px;
    margin: 0 10px;
    text-align: center;
    cursor: pointer;
    border-radius: 50%;
    border: 5px solid #dbe2dc;
    float: left;
    transition: all 0.5s ease;
}
.wrapper ul li .fa{
    color: #dbe2dc;
    margin-top: 20px;
    transition: all 0.5s ease;
}
.wrapper ul li:hover.facebook {
border: 5px solid#2768f5;
box-shadow: 0 0 15px #2768f5;
transition: all 0.5s ease;
}
.wrapper ul li .fa-facebook {
color: #2768f5;
text-shadow: 0 0 15px #2768f5;
transition: all 0.5s ease;
}
.wrapper ul li:hover.twitter {
    border: 5px solid#00aced;
    box-shadow: 0 0 15px #00aced;
    transition: all 0.5s ease;
    }
.wrapper ul li .fa-twitter {
    color: #00aced;
    text-shadow: 0 0 15px #00aced;
    transition: all 0.5s ease;
}
.wrapper ul li:hover.instagram {
    border: 5px solid #d81c9d;
    box-shadow: 0 0 15px #d81c9d;
    transition: all 0.5s ease;
}
.wrapper ul li .fa-instagram {
    color: #d81c9d;
    text-shadow: 0 0 15px #d81c9d;
    transition: all 0.5s ease;
}
.wrapper ul li:hover.linkedin {
    border: 5px solid #f60505;
    box-shadow: 0 0 15px #f60505;
    transition: all 0.5s ease;
}
.wrapper ul li .fa-linkedin {
    color: #f60505;
    text-shadow: 0 0 15px #f60505;
    transition: all 0.5s ease;
}
.wrapper ul li:hover.whatsapp {
    border: 5px solid #4dc247;
    box-shadow: 0 0 15px #4dc247;
    transition: all 0.5s ease;
}
.wrapper ul li .fa-whatsapp {
    color: #4dc247;
    text-shadow: 0 0 15px #4dc247;
    transition: all 0.5s ease;
}

    
    
    