header{
    position: fixed;
    width: 100%;
}
#contenedorLogo{
    margin-left: 15px;
}
#logoNavbar{
    width: 100px !important;
    height:100px;
    border-radius: 50%;
    object-fit: cover;
}
#contenedorFormulario{
    margin-right: 10px;

}
#navbarTogglerDemo02{
margin-left: 25px;
}
.container-fluid{
    height: 1200px;
}